<a href="https://colab.research.google.com/github/goutham032/bug-free-meme/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('tf.xlsx')
df.head() # Reading the file

                Timestamp  Unnamed: 1                    Name        Enroll No
0 2021-08-10 10:30:18.562         NaN     K Sai Niroop Reddy   19STUCHH010134
1 2021-08-10 10:30:33.279         NaN         Ved Mahendrakar   19stuchh010058
2 2021-08-10 10:30:39.321         NaN         G.Brijesh kumar   19STUCHH010003
3 2021-08-10 10:30:46.019         NaN  yaswanth pathinavalasa   19stuchh010131
4 2021-08-10 10:30:50.253         NaN              P.varshini   19STUCHH010028

In [ ]:
df['Enroll No'] #selecting individual coloumns

0     19STUCHH010134
1      19stuchh010058
2      19STUCHH010003
3      19stuchh010131
4      19STUCHH010028
           ...
69     19STUCHH010034
70     19STUCHH010030
71     19STUCHH010033
72     19STUCHH010090
73     19STUCHH010093
Name: Enroll No, Length: 74, dtype: object

In [ ]:
df[['Name','Enroll No']] #Using an array extracting more than two coloumns

                      Name        Enroll No
0      K Sai Niroop Reddy   19STUCHH010134
1          Ved Mahendrakar   19stuchh010058
2          G.Brijesh kumar   19STUCHH010003
3   yaswanth pathinavalasa   19stuchh010131
4               P.varshini   19STUCHH010028
..                     ...              ...
69    Jaya Rakesh Davuluri   19STUCHH010034
70         DEEPTHI RAPAKA    19STUCHH010030
71        Ripu haran reddy   19STUCHH010033
72         K.KARTHIK REDDY   19STUCHH010090
73            SRAVANTHI. K   19STUCHH010093

[74 rows x 2 columns]

In [ ]:
df.iloc[30] #opening individual rows

Timestamp     2021-08-10 10:32:11.903000
Unnamed: 1                           NaN
Name                   Rajuldev Bhargavi
Enroll No                 19STUCHH010026
Name: 30, dtype: object

In [ ]:
df.iloc[20:40] #opening multipule rows

                 Timestamp  Unnamed: 1                  Name        Enroll No
20 2021-08-10 10:31:37.043         NaN    Purnima Siramsetty   19STUCHH010109
21 2021-08-10 10:31:38.169         NaN      Abhinav Chowdary   19stuchh010240
22 2021-08-10 10:31:46.805         NaN         Aaryan Nakhat   19STUCHH010169
23 2021-08-10 10:31:47.060         NaN         Vasa Srinivas   19STUCHH010032
24 2021-08-10 10:31:47.262         NaN            Ben Shalom   19STUCHH010062
25 2021-08-10 10:31:51.189         NaN   G.Shriya vaishnavi    19STUCHH010106
26 2021-08-10 10:31:53.461         NaN            K. Sravani   19STUCHH010146
27 2021-08-10 10:31:57.283         NaN         D.AKHIL REDDY   19STUCHH010002
28 2021-08-10 10:32:01.284         NaN            Mounya Sri   19STUCHH010260
29 2021-08-10 10:32:01.517         NaN          Ch Venkatesh   19stuchh010022
30 2021-08-10 10:32:11.903         NaN     Rajuldev Bhargavi   19STUCHH010026
31 2021-08-10 10:32:12.067         NaN            Payal Das   19STUCHH010044
32 2021-08-10 10:32:18.802         NaN        K Pavan Kumar    19stuchh010014
33 2021-08-10 10:32:19.915         NaN   yandapalli nagendra   19stuchh010237
34 2021-08-10 10:32:22.475         NaN  gopal krishna sharma   19stuchh010086
35 2021-08-10 10:32:27.477         NaN              M SURESH   19STUCHH010211
36 2021-08-10 10:32:28.973         NaN       Sandhya sridevi   19STUCHH010069
37 2021-08-10 10:32:32.072         NaN            B.Harshini   19STUCHH010290
38 2021-08-10 10:32:34.320         NaN    Panjala Bhanu Teja   19STUCHH010087
39 2021-08-10 10:32:38.857         NaN        Akanksha Reddy   19STUCHH010191

In [ ]:
df.iloc[10:70:5] # skipping every three numbers

                 Timestamp  Unnamed: 1                 Name       Enroll No
10 2021-08-10 10:31:16.667         NaN             pranith   19STUCHH01097
15 2021-08-10 10:31:30.049         NaN        dheeraj patel  19STUCHH010216
20 2021-08-10 10:31:37.043         NaN   Purnima Siramsetty  19STUCHH010109
25 2021-08-10 10:31:51.189         NaN  G.Shriya vaishnavi   19STUCHH010106
30 2021-08-10 10:32:11.903         NaN    Rajuldev Bhargavi  19STUCHH010026
35 2021-08-10 10:32:27.477         NaN             M SURESH  19STUCHH010211
40 2021-08-10 10:32:43.538         NaN        Aaryan Mateti  19STUCHH010217
45 2021-08-10 10:33:00.824         NaN          Aditi Mutha  19STUCHH010057
50 2021-08-10 10:33:14.215         NaN     JOGA PARMESHWAR   19STUCHH010236
55 2021-08-10 10:33:45.328         NaN        Akshaya reddy  19STUCHH010192
60 2021-08-10 10:34:14.809         NaN     Niharika Chintha  19stuchh010151
65 2021-08-10 10:34:37.835         NaN              Karthik  19stuchh010168

In [ ]:
df.iloc[11,2] #extracting separate cell

'Nikhil Vasa sali'

In [ ]:
df.iloc[30:50,3] # extracting group of cells

30     19STUCHH010026
31    19STUCHH010044
32     19stuchh010014
33     19stuchh010237
34     19stuchh010086
35     19STUCHH010211
36     19STUCHH010069
37     19STUCHH010290
38     19STUCHH010087
39     19STUCHH010191
40     19STUCHH010217
41     19STUCHH010215
42     19STUCHH010055
43     19STUCHH010244
44     19STUCHH010050
45     19STUCHH010057
46     19STUCHH010095
47     19stuchh010091
48     19STUCHH010019
49     19STUCHH010222
Name: Enroll No, dtype: object

In [ ]:
df.iloc[2: ,3]

2     19STUCHH010003
3     19stuchh010131
4     19STUCHH010028
5     19STUCHH010083
6     19STUCHH010001
           ...
69    19STUCHH010034
70    19STUCHH010030
71    19STUCHH010033
72    19STUCHH010090
73    19STUCHH010093
Name: Enroll No, Length: 72, dtype: object

In [ ]:
List1 = []
List1 = df.iloc[0: , 3]
print(List1)

0     19STUCHH010134
1      19stuchh010058
2      19STUCHH010003
3      19stuchh010131
4      19STUCHH010028
           ...
69     19STUCHH010034
70     19STUCHH010030
71     19STUCHH010033
72     19STUCHH010090
73     19STUCHH010093
Name: Enroll No, Length: 74, dtype: object